{{ range . -}}
Connection: {{ .Address }}
{{ range .Items -}}
Type: {{ .Data.Type }}
{{ range $i, $v := .Data.Params -}}
{{- if ne $i 0 }}, {{ end }}{{- val $v -}}
{{ end -}}
{{- if .Data.Query -}}
{{ .Data.Query }}
{{- end -}}
{{ range .Data.Results }}
{{ range $i, $v := . }}
{{- if ne $i 0 }}, {{ end }}{{- val $v -}}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
